.friendList {
    width: 250px;

}

.item {
    padding: 12px;
    box-shadow: 10px 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center
}

.online {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.offline {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.avatar {
    border-radius: 4px;
    border: 1px solid black;
}

.name {
    font-size: 20px;
    font-weight: 500;
}